body.static_pages-browser_upgrade {

    @include hero-fullpage-background();

    &::before {
      top: 60px;
    }

    .warning_card {
      margin-top: 80px;
      a {
        color: #dc4405;
      }
    }

    footer {
      display: none;
    }

}
